{% extends 'media.html.twig' %}

{% block metadata %}

{% endblock %}

{% block file %}
    <audio
        class="video-js audio-player"
        src="{{ path('stream-media', {'path': media.getPath()}) }}"
        controls
        preload="metadata"
    >
        <img src="{{ path('display-thumbnail', {'pathHash': media.meta['sum']}) }}"/>
    </audio>
{% endblock %}
