{% extends 'media.html.twig' %}

{% block metadata %}

{% endblock %}

{% block file %}
    <video
        id="video"
        class="video-js video-player"
        data-setup='{"controls" : true, "preload" : "auto"}'
        poster="{{ path('display-thumbnail', {'pathHash': media.meta.sum}) }}"
    >
        <source src="{{ path('stream-media', {'path': media.getPath()}) }}" type="{{ media.getMimeType() }}">
    </video>
{% endblock %}
