.audio-player,
.video-player {
  display: block;
  width: 100%;
}

.video-player {
  height: 450px;
}

.audio-player {
  height: 30px;
}

.disk-usage-chart,
.memory-usage-chart,
.cpu-usage-chart {
  min-height: 400px;
}

.audio-player-wrapper {
  display: block;
  width: 100%;

  &.hidden {
    height: 0;
    transition: height .3s;

    audio {
      height: 0;
      transition: height .3s;
    }
  }

  &.active {
    height: 32px;
    transition: height .3s;

    audio {
      height: 32px;
      transition: height .3s;
    }
  }

  audio {
    width: 100%;
  }
}