@import 'utils/settings';
@import "foundation";
@include foundation-everything;

@import "utils/variables";

.site-name {
  a {
    display: block;
  }

  h3 {
    line-height: 40px;
    margin: 0;
  }

  span, img {
    display: inline-block;
    vertical-align: middle;
  }

  a, a:hover, a:visited {
    color: $header-color;
  }

  .main-logo {
    max-height: 40px;
    margin-right: 8px;
  }
}

.top-bar {
  overflow: hidden;

  nav ul {
    list-style: none;
    margin: 0;

    li {
      display: inline-block;

      a {
        display: block;
        margin: 0;
      }
    }
  }
}

.login-panel {
  max-width: 30em;
}

.login-form {
  background: white;
  border: 1px solid $dark-gray;
  margin: 0 auto;
}

.breadcrumbs {
  line-height: 3em;

  li:first-child:before {
    position: relative;
    margin: 0 0.75rem;
    opacity: 1;
    content: $breadcrumbs-item-separator-item;
    color: $breadcrumbs-item-separator-color;
  }
}

.folder {
  &.show-icons {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .item > a {
      display: block;
      position: relative;
      text-align: center;
      width: 10em;
      min-height: 10em;
      max-height: 12em;
      overflow: hidden;
      z-index: 2;
      margin: 0 1em;

      .item-icon {
        font-size: 8rem;
      }

      .thumbnail {
        &:not([data-was-processed="true"]),
        &[data-was-processed="true"].error,
        &.loading {
          visibility: hidden;
          opacity: 0;
          height: 0;
        }

        &.loading ~ i.fas.item-icon {
          display: block;
        }

        &[data-was-processed="true"]:not(.loading) ~ .thumbnail-loader {
          display: none;
        }

        &[data-was-processed="true"].loaded ~ i.fas {
          display: none;
        }
      }

      .thumbnail-loader {
        position: absolute;
        font-size: 2em;
        top: 2em;
        left: 2em;
        color: $light-gray;
        animation: spin 2000ms infinite linear;
      }

      &:hover {
        overflow: visible;
        z-index: 3;
        background-color: $white;

        span {
          background: $white;
        }
      }

      i {
        display: block;
      }

      .modification-date {
        display: none;
      }
    }
  }

  &.show-list {
    width: 100%;

    .item {
      border-top: 1px solid $primary-color;

      &:last-child {
        border-bottom: 1px solid $primary-color;
      }
    }

    .item > a {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      line-height: 3rem;
      padding: 0 5px;
      cursor: pointer;

      .item-icon, img {
        font-size: 2rem;
        max-height: 3rem;
      }

      i, span, img {
        margin: 0 4px;
      }

      img {
        max-width: 100px;
      }

      .thumbnail-wrapper {
        min-width: 32px;
        text-align: center;
        position: relative;

        .item-icon, .thumbnail-loader {
          position: absolute;
          top: 50%;
          left: 50%;
        }

        .item-icon {
          margin-left: -16px;
          margin-top: -16px;
        }

        .thumbnail-loader {
          margin-left: -8px;
          margin-top: -8px;
          z-index: 10;
        }

        .thumbnail {
          &.loading {
            min-width: 32px;
          }

          &:not([data-was-processed="true"]),
          &[data-was-processed="true"].error,
          &.loading {
            visibility: hidden;
            opacity: 0;
            height: 0;
          }

          &[data-was-processed="true"]:not(.loading) ~ .thumbnail-loader {
            display: none;
          }

          &[data-was-processed="true"].loaded {
            display: inline-block;
            max-height: 40px;
            margin-top: -4px;
            margin-left: 0;
            border: none;

            & ~ i.fas {
              display: none;
            }
          }
        }

        .thumbnail-loader {
          color: $light-gray;
          animation: spin 2000ms infinite linear;
        }
      }

      &:hover {
        overflow: visible;
        z-index: 3;
        background: $light-gray;
      }

      i {
        display: block;
      }

      .modification-date:last-child {
        margin-left: auto;
      }
    }
  }
}

.flex-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.folder-switch-view {
  line-height: 64px;
  font-size: 1.5rem;
  cursor: pointer;

  span.active {
    color: $primary-color;
  }

  span:not(.active) {
    color: $lightgrey;
  }
}

.file-wrapper, .file-wrapper, code {
  width: 100%;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  } to {
      transform: rotate(360deg);
    }
}