<nav aria-label="You are here:" role="navigation">
    <ul class="breadcrumbs">
        <li><a href="/">Home</a></li>

        {% for path in pathList %}
            <li><a href="{{ path['href'] }}">{{ path['name'] }}</a></li>
        {% endfor %}
    </ul>
</nav>
