{% extends 'base.html.twig' %}

{% block header %}
    <nav class="top-bar-right">
        <ul>
            <li><a href="{{ path('homepage') }}" class="button"><i class="fas fa-home"></i></a></li>
            <li><a href="{{ path('dashboard_index') }}" class="button"><i class="fas fa-tachometer-alt"></i></a></li>
            <li><a href="{{ path('security_logout') }}" class="button"><i class="fas fa-power-off"></i></a></li>
        </ul>
    </nav>
{% endblock %}

{% block scafolding %}
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            {% if path is defined %}
                    <div class="flex-row">
                    {% block breadcrumb %}
                        {{ breadcrumb(path)|raw }}
                    {% endblock %}
                    </div>
            {% endif %}
            {% block body %}{% endblock %}
        </div>
    </div>
{% endblock %}
