<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}LeadWasp - NAS Manager - By Aredhel{% endblock %}</title>
        <link rel="icon" href="/favicon.ico" />
        {% block stylesheets %}
            <link href="https://use.fontawesome.com/releases/v5.0.2/css/all.css" rel="stylesheet">
            <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">
            <link href="/static/lib/video.js/video-js.min.css" rel="stylesheet">
            <link href="/static/css/theme.css" rel="stylesheet">
            <link href="/static/css/videojs.css" rel="stylesheet">
            <link href="/static/css/app.css" rel="stylesheet">
        {% endblock %}
        {% block javascripts %}
            <script async defer src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
            <script async defer src="https://cdnjs.cloudflare.com/ajax/libs/vanilla-lazyload/10.8.0/lazyload.min.js"></script>
            <script async defer src="/static/lib/videojs-flash/videojs-flash.min.js"></script>
            <script async defer src="/static/lib/videojs-flvjs/videojs-flvjs.min.js"></script>
            <script async defer src="/static/lib/video.js/video.min.js"></script>
            <script async defer src="/static/lib/echarts/echarts.js"></script>
            <script async defer src="/static/lib/js-sha1/sha1.min.js"></script>
            <script async defer src="/static/js/utils.js"></script>
            <script async defer src="/static/js/cookies.js"></script>
            <script async defer src="/static/js/app.js"></script>
        {% endblock %}
    </head>
    <body>
        <header class="top-bar">
            <div class="site-name">
                <a href="{{ path('homepage') }}">
                    <h3><img src="/logo.png" alt="" class="main-logo"><span>LeadWasp</span></h3>
                </a>
            </div>

            {% block header %}{% endblock %}
        </header>
        {% block scafolding %}
            {% block breadcrumb %}{% endblock %}
            {% block body %}{% endblock %}
        {% endblock %}
    </body>
</html>
