{% extends 'app.html.twig' %}

{% block body %}
    <div class="cell medium-cell-block-container">
        <div class="grid-x">
            {% for diskEntry in diskEntries %}
                <div class="medium-3 cell js-disk-usage-chart disk-usage-chart"
                     data-freeSpace="{{ diskEntry.freeSpace }}" data-usedspace="{{ diskEntry.usedSpace }}"
                     data-partition="{{ diskEntry.partition }}" data-mountpoint="{{ diskEntry.mountPoint }}"
                     data-totalspace="{{ diskEntry.totalSpace }}"></div>
            {% endfor %}
        </div>
        <div class="grid-x">
            <div class="medium-2 cell js-memory-usage-chart memory-usage-chart"
                 data-free="{{ memoryEntry.free }}" data-used="{{ memoryEntry.used }}" data-total="{{ memoryEntry.total }}"></div>

            <div class="medium-2 cell">&nbsp;</div>

            {% for core, cpuEntry in cpuEntries %}
                <div class="medium-2 cell js-cpu-usage-chart cpu-usage-chart" data-used="{{ cpuEntry }}" data-core="{{ core }}"></div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
