{% extends 'app.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}

    <div class="js-folder-switch-view folder-switch-view">
        <span class="list{{ app.request.cookies.get(path|sha1, "show-list") == "show-list" ? ' active' : '' }}"><i class="fas fa-th-list"></i></span>
        <span class="icon{{ app.request.cookies.get(path|sha1, "show-list") == "show-icons" ? ' active' : '' }}"><i class="fas fa-th"></i></span>
    </div>
{% endblock %}

{% block body %}
    <div class="folder {{ app.request.cookies.get(path|sha1, "show-list") }} js-folder" data-path="{{ path }}">
        {% for media in folder.children %}
            {% set entry = media.entry %}
            {% set href = (entry.isDirectory() ? path('homepage', {'path': entry.getPath()}) : path('display-media', {'path': entry.getPath()})) %}

            <div class="item">
                <a href="{{ href }}" data-mimeType="{{ entry.getMimeType() }}">
                    <span class="thumbnail-wrapper">
                        {% set fasClass = mediaTypeToFas(entry.getType()) %}
                        {% if entry.hasThumbnailSupport() %}
                            <img class="lazyload thumbnail" data-src="{{ path("display-thumbnail", {'pathHash': entry.meta.sum}) }}">
                            <i class="fas fa-circle-notch thumbnail-loader"></i>
                        {% endif %}
                        <i class="fas fa-{{ fasClass }} item-icon"></i>
                    </span>

                    <span class="name">{{ entry.getName() }}</span>
                    <span class="modification-date">{{ entry.modificationDate|date('d/m/Y H:i:s') }}</span>
                </a>
                {% if entry.isStreamable() and not entry.isVideo %}
                    <div class="audio-player-wrapper hidden">
                        <audio
                                class="video-js audio-player"
                                src="{{ path('stream-media', {'path': entry.getPath()}) }}"
                                controls
                                preload="none"
                        >
                            <img src="{{ path('display-thumbnail', {'pathHash': entry.meta['sum']}) }}"/>
                        </audio>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock body %}
