{% extends 'base.html.twig' %}

{% block body %}
    <div class="grid-container login-panel">
        <h2 class="text-center">{{ 'header.connexion'|trans }}</h2>

        <div class="grid-x grid-padding-x align-center">
            {% if error %}
                <div data-closable class="alert callout">
                    <p>
                        {{ error.messageKey|trans(error.messageData, 'security') }}
                    </p>
                </div>
            {% endif %}
        </div>

        {{ form_start(form, {'attr': {'class': 'login-form'}}) }}
            <div class="grid-x grid-padding-x">
                <div class="cell">
                    {{ form_row(form.username) }}
                </div>
                <div class="cell">
                    {{ form_row(form.plainPassword) }}
                </div>

                <div class="cell">
                    <button class="button" type="submit">{{ 'button.login'|trans }}</button>
                </div>
            </div>
        {{ form_end(form) }}
    </div>
{% endblock body %}
