{% extends 'app.html.twig' %}

{% block title %}
    Leadwasp - {{ media.title }}
{% endblock %}

{% block body %}
    <div class="cell medium-cell-block-container">
        {% if media.isStreamable %}
            {% if media.supportLevel == 0 %}
                <div class="grid-x">
                    <div class="alert callout">
                        <p>Votre navigateur ne supporte pas ce type de media ({{ media.getExtension() }}).</p>
                    </div>
                </div>
            {% elseif media.supportLevel == 2 %}
                <div class="grid-x">
                    <div class="info callout">
                        <p>Il est possible que votre navigateur ne supporte pas ce type de media ({{ media.getExtension() }}).</p>
                    </div>
                </div>
            {% endif %}
        {% endif %}

        <div class="grid-x">
            <div class="medium-6 cell">
                {% block file %}{% endblock %}
            </div>
            <div class="medium-6 cell">
                {% block metadata %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
